html {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  color: #28282a;
  background-color: #f9f9f9;
}

table {
  border-collapse: collapse;
  text-align: left;
  width: 100%;
}
table th {
  text-transform: uppercase;
  font-weight: 600;
  padding-top: 1rem;
  padding-right: 2.25rem;
  padding-bottom: 1rem;
}
table td {
  padding-bottom: 0.25rem;
}