body {
  color: #28282a;
  background-color: #f9f9f9;
}

/* Default table styles for this demo */
table {
  border-collapse: collapse;
  text-align: left;
  width: 100%;
}
table th {
  text-transform: uppercase;
  font-weight: 600;
  padding-bottom: 1rem;
}
table td {
  padding-right: 2rem;
  padding-bottom: 0.25rem;
}